In [ ]:
# First try dropping all Years_in_current_job in zero

In [116]:
import pandas as pd
import re
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split

In [33]:
df = pd.read_csv("./loans_train.csv")

In [34]:
df.head()

,Id,Loan ID,Customer_ID,Current_Loan_Amount,Term,Credit_Score,Annual_Income,Years_in_current_job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens,Loan_Status
0,85029,f5670313-26b5-40b7-828f-a75b65699969,3058291d-7ba3-46f5-90e7-6c856c14a945,134838,Short Term,741.0,892791.0,2 years,Rent,Debt Consolidation,3303.34,9.6,34.0,20,0,86811,141570,0.0,0.0,Fully Paid
1,48995,3a595744-1adb-48b0-8714-de13c7a17d8f,cb860694-3996-4069-a3f1-5d07e6170543,341022,Short Term,713.0,821332.0,9 years,Rent,Debt Consolidation,11361.62,12.0,NaN,13,1,198854,451440,1.0,0.0,Charged Off
2,95521,738b6819-d77e-45f6-855d-841ad12df96c,5fa2ffc9-c4b0-4601-b5f3-3fad4ca5b3d9,66638,Short Term,729.0,774516.0,NaN,Rent,Medical Bills,17039.20,31.7,NaN,12,1,158612,355212,1.0,0.0,Fully Paid
3,49965,75849666-3508-41dd-9dd0-8140b02bd18c,bc68f407-981e-4459-8886-1762190a505c,85316,Short Term,705.0,611648.0,2 years,Rent,Debt Consolidation,11621.16,12.9,30.0,6,1,10754,207460,1.0,0.0,Fully Paid
4,15785,882a4cf5-c2a9-480b-8ff4-e16b597fa11b,dba9177c-8f2b-496b-9548-39a1e0b47779,262680,Short Term,714.0,1134300.0,NaN,Own Home,Debt Consolidation,6276.46,19.4,26.0,13,0,193420,420178,0.0,0.0,Fully Paid

In [35]:
df.drop(columns=["Loan ID", "Customer_ID"], inplace=True)

In [36]:
df.head()

,Id,Current_Loan_Amount,Term,Credit_Score,Annual_Income,Years_in_current_job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens,Loan_Status
0,85029,134838,Short Term,741.0,892791.0,2 years,Rent,Debt Consolidation,3303.34,9.6,34.0,20,0,86811,141570,0.0,0.0,Fully Paid
1,48995,341022,Short Term,713.0,821332.0,9 years,Rent,Debt Consolidation,11361.62,12.0,NaN,13,1,198854,451440,1.0,0.0,Charged Off
2,95521,66638,Short Term,729.0,774516.0,NaN,Rent,Medical Bills,17039.20,31.7,NaN,12,1,158612,355212,1.0,0.0,Fully Paid
3,49965,85316,Short Term,705.0,611648.0,2 years,Rent,Debt Consolidation,11621.16,12.9,30.0,6,1,10754,207460,1.0,0.0,Fully Paid
4,15785,262680,Short Term,714.0,1134300.0,NaN,Own Home,Debt Consolidation,6276.46,19.4,26.0,13,0,193420,420178,0.0,0.0,Fully Paid

In [37]:
df.isnull().sum()

Id                                  0
Current_Loan_Amount                 0
Term                                0
Credit_Score                    12851
Annual_Income                   12851
Years_in_current_job             2802
Home_Ownership                      0
Purpose                             0
Monthly_Debt                        0
Years_of_Credit_History             0
Months_since_last_delinquent    35632
Number_of_Open_Accounts             0
Number_of_Credit_Problems           0
Current_Credit_Balance              0
Maximum_Open_Credit                 0
Bankruptcies                      130
Tax_Liens                           6
Loan_Status                         0
dtype: int64

In [38]:
df[df["Credit_Score"].isnull()]

,Id,Current_Loan_Amount,Term,Credit_Score,Annual_Income,Years_in_current_job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens,Loan_Status
10,64042,151844,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,4158.91,16.7,35.0,4,0,86393,227898,0.0,0.0,Fully Paid
29,26012,231902,Short Term,NaN,NaN,8 years,Home Mortgage,Debt Consolidation,9304.87,13.0,NaN,9,0,76608,229218,0.0,0.0,Fully Paid
32,78686,442112,Short Term,NaN,NaN,8 years,Rent,Debt Consolidation,17945.69,16.9,NaN,9,0,515774,651970,0.0,0.0,Charged Off
36,20498,215864,Short Term,NaN,NaN,10+ years,Rent,Debt Consolidation,43624.19,17.0,NaN,19,0,636880,1197130,0.0,0.0,Fully Paid
41,88234,133804,Short Term,NaN,NaN,2 years,Rent,Debt Consolidation,8802.13,18.6,57.0,9,0,195833,323488,0.0,0.0,Fully Paid
42,77953,179366,Short Term,NaN,NaN,1 year,Rent,Debt Consolidation,17252.38,13.0,58.0,13,0,282967,585068,0.0,0.0,Fully Paid
48,61150,259930,Short Term,NaN,NaN,1 year,Home Mortgage,Home Improvements,30165.73,16.0,46.0,12,0,568955,708356,0.0,0.0,Charged Off
49,97733,676236,Long Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,24139.50,20.9,5.0,11,0,365484,863654,0.0,0.0,Fully Paid
78,66995,153010,Short Term,NaN,NaN,NaN,Own Home,Debt Consolidation,8154.61,20.2,6.0,5,0,124393,179608,0.0,0.0,Charged Off
84,94191,248138,Long Term,NaN,NaN,9 years,Home Mortgage,Debt Consolidation,16072.29,17.5,NaN,6,1,181393,233618,1.0,0.0,Fully Paid
91,30114,161348,Short Term,NaN,NaN,3 years,Rent,Debt Consolidation,15386.01,17.5,2.0,5,0,219203,394108,0.0,0.0,Fully Paid
95,70117,134024,Short Term,NaN,NaN,1 year,Rent,Debt Consolidation,0.00,11.0,50.0,4,0,0,0,0.0,0.0,Fully Paid
97,99602,177738,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,21936.83,20.6,NaN,9,0,218101,620444,0.0,0.0,Fully Paid
99,32069,451550,Long Term,NaN,NaN,10+ years,Own Home,Debt Consolidation,30409.31,26.4,NaN,15,0,761805,991100,0.0,0.0,Fully Paid
103,14693,269698,Short Term,NaN,NaN,3 years,Home Mortgage,Debt Consolidation,11100.37,12.2,NaN,7,0,177023,260788,0.0,0.0,Fully Paid
106,44699,217338,Short Term,NaN,NaN,7 years,Own Home,Debt Consolidation,14015.16,11.0,47.0,13,0,94050,121682,0.0,0.0,Charged Off
109,60887,215732,Short Term,NaN,NaN,NaN,Home Mortgage,Other,36700.21,16.0,10.0,21,0,15941,802890,0.0,0.0,Fully Paid
111,48738,132572,Short Term,NaN,NaN,< 1 year,Rent,Debt Consolidation,10839.50,19.3,NaN,5,0,321062,481558,0.0,0.0,Charged Off
114,82875,327470,Long Term,NaN,NaN,4 years,Home Mortgage,Debt Consolidation,8098.94,11.4,76.0,8,0,304171,530420,0.0,0.0,Charged Off
127,1806,183744,Short Term,NaN,NaN,2 years,Rent,Debt Consolidation,16860.79,12.8,NaN,8,0,165680,266794,0.0,0.0,Charged Off
131,2076,771628,Short Term,NaN,NaN,10+ years,Rent,Debt Consolidation,28598.61,16.5,35.0,10,1,252700,476542,1.0,0.0,Charged Off
135,72449,159588,Short Term,NaN,NaN,< 1 year,Rent,Debt Consolidation,17595.14,13.8,63.0,14,0,322582,572022,0.0,0.0,Charged Off
139,52568,536646,Long Term,NaN,NaN,10+ years,Rent,Business Loan,27939.31,33.3,NaN,15,0,379658,547448,0.0,0.0,Fully Paid
146,14800,234146,Long Term,NaN,NaN,2 years,Rent,Debt Consolidation,19547.20,11.7,NaN,14,0,179702,263032,0.0,0.0,Charged Off
148,12332,218064,Short Term,NaN,NaN,2 years,Rent,Other,2640.81,10.2,NaN,9,0,59755,307516,0.0,0.0,Fully Paid
149,33570,225236,Short Term,NaN,NaN,2 years,Home Mortgage,Debt Consolidation,25190.58,25.2,24.0,16,0,419805,1114872,0.0,0.0,Fully Paid
150,29929,369930,Long Term,NaN,NaN,< 1 year,Rent,Debt Consolidation,10473.37,10.0,NaN,11,0,264860,519772,0.0,0.0,Fully Paid
156,630,86988,Short Term,NaN,NaN,6 years,Rent,Debt Consolidation,1991.96,10.2,NaN,5,0,80294,245982,0.0,0.0,Fully Paid
162,42614,352880,Long Term,NaN,NaN,2 years,Rent,Debt Consolidation,12098.44,10.0,NaN,5,0,164198,264792,0.0,0.0,Charged Off
165,60077,269610,Short Term,NaN,NaN,1 year,Home Mortgage,Debt Consolidation,17167.45,14.0,NaN,10,0,377587,574508,0.0,0.0,Fully Paid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66813,95945,474518,Long Term,NaN,NaN,5 years,Home Mortgage,Debt Consolidation,8423.46,17.1,NaN,9,0,359556,655622,0.0,0.0,Fully Paid
66818,5782,194590,Short Term,NaN,NaN,7 years,Rent,Debt Consolidation,17728.90,13.1,31.0,11,0,156845,327206,0.0,0.0,Fully Paid
66821,2052,31020,Short Term,NaN,NaN,3 years,Rent,Other,20915.20,18.5,60.0,8,0,108547,188452,0.0,0.0,Fully Paid
66825,41181,183502,Short Term,NaN,NaN,< 1 year,Rent,Debt Consolidation,12331.00,12.5,73.0,7,0,108376,279466,0.0,0.0,Charged Off
66829,38617,107888,Short Term,NaN,NaN,2 years,Home Mortgage,Other,20380.16,25.5,NaN,16,0,389652,625768,0.0,0.0,Fully Paid
66830,82168,606628,Long Term,NaN,NaN,4 years,Rent,Debt Consolidation,29478.31,12.4,37.0,24,1,178429,1007776,1.0,0.0,Fully Paid
66838,3640,215138,Short Term,NaN,NaN,10+ years,Rent,Buy House,16735.58,17.9,NaN,13,0,16435,103488,0.0,0.0,Fully Paid
66850,20890,453398,Short Term,NaN,NaN,2 years,Rent,Debt Consolidation,18009.53,11.0,NaN,7,0,290339,418660,0.0,0.0,Fully Paid
66854,68510,397254,Long Term,NaN,NaN,5 years,Home Mortgage,Debt Consolidation,13507.10,17.1,NaN,7,0,363679,597322,0.0,0.0,Charged Off
66856,47324,33396,Short Term,NaN,NaN,3 years,Rent,vacation,9110.50,19.2,NaN,5,0,19247,202664,0.0,0.0,Fully Paid
66858,20172,336116,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,58664.02,14.9,NaN,9,0,833853,1087306,0.0,0.0,Charged Off
66870,64657,308000,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,20504.23,18.1,18.0,23,0,243504,535018,0.0,0.0,Charged Off
66880,64904,249414,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,16449.63,15.8,37.0,9,0,275405,440462,0.0,0.0,Fully Paid
66881,34693,321794,Short Term,NaN,NaN,4 years,Home Mortgage,Buy House,9796.02,13.8,NaN,9,0,134862,736560,0.0,0.0,Fully Paid
66889,61711,149644,Short Term,NaN,NaN,NaN,Own Home,Debt Consolidation,9736.55,19.8,NaN,10,1,79914,337744,1.0,0.0,Fully Paid
66897,50973,223718,Long Term,NaN,NaN,10+ years,Rent,Debt Consolidation,18314.86,15.5,NaN,14,0,93689,821832,0.0,0.0,Fully Paid
66905,34318,280830,Short Term,NaN,NaN,6 years,Home Mortgage,Buy a Car,45707.54,19.7,41.0,11,0,152171,419518,0.0,0.0,Fully Paid
66908,41945,323510,Long Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,20576.43,33.3,33.0,11,0,591831,907654,0.0,0.0,Fully Paid
66918,99789,162866,Short Term,NaN,NaN,3 years,Rent,Debt Consolidation,16837.04,15.3,20.0,10,0,85348,214830,0.0,0.0,Fully Paid
66919,24564,714208,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,43112.90,19.3,NaN,27,0,1174884,2341460,0.0,0.0,Fully Paid
66924,14755,213620,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,14990.43,33.1,21.0,8,0,98344,247016,0.0,0.0,Fully Paid
66935,99945,138160,Short Term,NaN,NaN,4 years,Home Mortgage,Debt Consolidation,8019.90,16.0,73.0,9,0,150404,1074986,0.0,0.0,Fully Paid
66937,93796,649374,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,18343.93,13.9,NaN,8,1,174135,564806,1.0,0.0,Charged Off
66942,45923,130306,Short Term,NaN,NaN,3 years,Rent,moving,15235.34,8.3,12.0,10,0,66652,123464,0.0,0.0,Fully Paid
66960,96235,88528,Short Term,NaN,NaN,1 year,Rent,Debt Consolidation,3448.50,7.8,39.0,10,0,33250,182446,0.0,0.0,Fully Paid
66965,75012,391358,Short Term,NaN,NaN,3 years,Home Mortgage,Debt Consolidation,17124.70,22.1,NaN,11,0,646874,1583516,0.0,0.0,Fully Paid
66984,62765,408254,Short Term,NaN,NaN,< 1 year,Home Mortgage,Debt Consolidation,42859.63,15.2,NaN,14,0,352944,463870,0.0,0.0,Fully Paid
66986,46113,222310,Short Term,NaN,NaN,2 years,Own Home,Debt Consolidation,34847.14,29.3,NaN,16,0,698858,1264384,0.0,0.0,Fully Paid
66995,76934,397496,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,6590.91,26.4,NaN,5,0,294842,816728,0.0,0.0,Fully Paid
66996,84365,499950,Short Term,NaN,NaN,2 years,Home Mortgage,Debt Consolidation,9396.83,21.2,NaN,10,0,352146,1311090,0.0,0.0,Charged Off

In [39]:
df.shape

(67000, 18)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67000 entries, 0 to 66999
Data columns (total 18 columns):
Id                              67000 non-null int64
Current_Loan_Amount             67000 non-null int64
Term                            67000 non-null object
Credit_Score                    54149 non-null float64
Annual_Income                   54149 non-null float64
Years_in_current_job            64198 non-null object
Home_Ownership                  67000 non-null object
Purpose                         67000 non-null object
Monthly_Debt                    67000 non-null float64
Years_of_Credit_History         67000 non-null float64
Months_since_last_delinquent    31368 non-null float64
Number_of_Open_Accounts         67000 non-null int64
Number_of_Credit_Problems       67000 non-null int64
Current_Credit_Balance          67000 non-null int64
Maximum_Open_Credit             67000 non-null int64
Bankruptcies                    66870 non-null float64
Tax_Liens                       66994 non-null float64
Loan_Status                     67000 non-null object
dtypes: float64(7), int64(6), object(5)
memory usage: 9.2+ MB

In [41]:
# first lets use the average income and credit score to get rid of nulls in those
df.Credit_Score.mean()

1072.9521505475632

In [42]:
df[df["Credit_Score"] > 0].Credit_Score.mean()

1072.9521505475632

In [43]:
df['Credit_Score'].fillna((df['Credit_Score'].mean()), inplace=True)

In [45]:
df['Annual_Income'].fillna((df['Annual_Income'].mean()), inplace=True)

In [51]:
df['Months_since_last_delinquent'].fillna(value=0, inplace=True)

In [55]:
df.isna().sum()

Id                                 0
Current_Loan_Amount                0
Term                               0
Credit_Score                       0
Annual_Income                      0
Years_in_current_job            2802
Home_Ownership                     0
Purpose                            0
Monthly_Debt                       0
Years_of_Credit_History            0
Months_since_last_delinquent       0
Number_of_Open_Accounts            0
Number_of_Credit_Problems          0
Current_Credit_Balance             0
Maximum_Open_Credit                0
Bankruptcies                     130
Tax_Liens                          6
Loan_Status                        0
dtype: int64

In [131]:
df.dropna(subset=['Bankruptcies', 'Tax_Liens'], inplace=True)

In [59]:
# Drop years_in_current_job that are NaN rows
df.dropna(subset=['Years_in_current_job'], inplace=True)

In [60]:
df.head()

,Id,Current_Loan_Amount,Term,Credit_Score,Annual_Income,Years_in_current_job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens,Loan_Status
0,85029,134838,Short Term,741.0,892791.0,2 years,Rent,Debt Consolidation,3303.34,9.6,34.0,20,0,86811,141570,0.0,0.0,Fully Paid
1,48995,341022,Short Term,713.0,821332.0,9 years,Rent,Debt Consolidation,11361.62,12.0,0.0,13,1,198854,451440,1.0,0.0,Charged Off
3,49965,85316,Short Term,705.0,611648.0,2 years,Rent,Debt Consolidation,11621.16,12.9,30.0,6,1,10754,207460,1.0,0.0,Fully Paid
5,3082,108900,Short Term,710.0,752400.0,10+ years,Rent,Debt Consolidation,7712.10,25.9,0.0,9,0,216467,257070,0.0,0.0,Fully Paid
6,56240,543730,Long Term,628.0,1991048.0,4 years,Rent,other,11033.68,36.8,0.0,5,0,25460,65208,0.0,0.0,Fully Paid

In [98]:
# replace Years_In_current with floats
def digits_only(line):
    return re.findall('[\d]+', line)

df['Years_in_current_job_num'] = df['Years_in_current_job'].apply(digits_only)

In [101]:
type(df['Years_in_current_job_num'])

pandas.core.series.Series

In [103]:
df['Years_in_current_job_num'].head()

0     [2]
1     [9]
3     [2]
5    [10]
6     [4]
Name: Years_in_current_job_num, dtype: object

In [107]:
df["job_years"] = df['Years_in_current_job_num'].apply(pd.to_numeric).astype(float)

In [70]:
df.drop(columns=['Years_in_current_job_numbers]'], inplace=True)

In [72]:
df.Term.unique()

array(['Short Term', 'Long Term'], dtype=object)

In [76]:
df = pd.get_dummies(data=df, columns=["Term"],drop_first=True)

In [81]:
# Lowercase all the purposes, cuz there is Other and other
df['Purpose'] = df.Purpose.str.lower()

In [82]:
df.Purpose.nunique()

15

In [ ]:
def upper

In [77]:
df.head()

,Id,Current_Loan_Amount,Credit_Score,Annual_Income,Years_in_current_job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens,Loan_Status,Years_in_current_job_numbers,Term_Short Term
0,85029,134838,741.0,892791.0,2 years,Rent,Debt Consolidation,3303.34,9.6,34.0,20,0,86811,141570,0.0,0.0,Fully Paid,[2],1
1,48995,341022,713.0,821332.0,9 years,Rent,Debt Consolidation,11361.62,12.0,0.0,13,1,198854,451440,1.0,0.0,Charged Off,[9],1
3,49965,85316,705.0,611648.0,2 years,Rent,Debt Consolidation,11621.16,12.9,30.0,6,1,10754,207460,1.0,0.0,Fully Paid,[2],1
5,3082,108900,710.0,752400.0,10+ years,Rent,Debt Consolidation,7712.10,25.9,0.0,9,0,216467,257070,0.0,0.0,Fully Paid,[10],1
6,56240,543730,628.0,1991048.0,4 years,Rent,other,11033.68,36.8,0.0,5,0,25460,65208,0.0,0.0,Fully Paid,[4],0

In [83]:
df = pd.get_dummies(data=df, columns=["Purpose"],drop_first=True)

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64198 entries, 0 to 66999
Data columns (total 34 columns):
Id                              64198 non-null int64
Current_Loan_Amount             64198 non-null int64
Credit_Score                    64198 non-null float64
Annual_Income                   64198 non-null float64
Years_in_current_job            64198 non-null object
Home_Ownership                  64198 non-null object
Monthly_Debt                    64198 non-null float64
Years_of_Credit_History         64198 non-null float64
Months_since_last_delinquent    64198 non-null float64
Number_of_Open_Accounts         64198 non-null int64
Number_of_Credit_Problems       64198 non-null int64
Current_Credit_Balance          64198 non-null int64
Maximum_Open_Credit             64198 non-null int64
Bankruptcies                    64068 non-null float64
Tax_Liens                       64192 non-null float64
Loan_Status                     64198 non-null object
Years_in_current_job_numbers    64198 non-null object
Term_Short Term                 64198 non-null uint8
Purpose_buy a car               64198 non-null uint8
Purpose_buy house               64198 non-null uint8
Purpose_debt consolidation      64198 non-null uint8
Purpose_educational expenses    64198 non-null uint8
Purpose_home improvements       64198 non-null uint8
Purpose_major_purchase          64198 non-null uint8
Purpose_medical bills           64198 non-null uint8
Purpose_moving                  64198 non-null uint8
Purpose_other                   64198 non-null uint8
Purpose_renewable_energy        64198 non-null uint8
Purpose_small_business          64198 non-null uint8
Purpose_take a trip             64198 non-null uint8
Purpose_vacation                64198 non-null uint8
Purpose_wedding                 64198 non-null uint8
Years_in_current_job_num        64198 non-null object
job_years                       64198 non-null float64
dtypes: float64(8), int64(6), object(5), uint8(15)
memory usage: 10.7+ MB

In [93]:
df = df.infer_objects()

In [110]:
df['Home_Ownership'].unique()

array(['Rent', 'Home Mortgage', 'Own Home', 'HaveMortgage'], dtype=object)

In [112]:
df = pd.get_dummies(data=df, columns=["Home_Ownership", "Loan_Status"],drop_first=True)

In [130]:
df.isna().sum()

Id                                0
Current_Loan_Amount               0
Credit_Score                      0
Annual_Income                     0
Monthly_Debt                      0
Years_of_Credit_History           0
Months_since_last_delinquent      0
Number_of_Open_Accounts           0
Number_of_Credit_Problems         0
Current_Credit_Balance            0
Maximum_Open_Credit               0
Bankruptcies                    130
Tax_Liens                         6
Term_Short Term                   0
Purpose_buy a car                 0
Purpose_buy house                 0
Purpose_debt consolidation        0
Purpose_educational expenses      0
Purpose_home improvements         0
Purpose_major_purchase            0
Purpose_medical bills             0
Purpose_moving                    0
Purpose_other                     0
Purpose_renewable_energy          0
Purpose_small_business            0
Purpose_take a trip               0
Purpose_vacation                  0
Purpose_wedding                   0
job_years                         0
Home_Ownership_Home Mortgage      0
Home_Ownership_Own Home           0
Home_Ownership_Rent               0
Loan_Status_Fully Paid            0
dtype: int64

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64198 entries, 0 to 66999
Data columns (total 33 columns):
Id                              64198 non-null int64
Current_Loan_Amount             64198 non-null int64
Credit_Score                    64198 non-null float64
Annual_Income                   64198 non-null float64
Monthly_Debt                    64198 non-null float64
Years_of_Credit_History         64198 non-null float64
Months_since_last_delinquent    64198 non-null float64
Number_of_Open_Accounts         64198 non-null int64
Number_of_Credit_Problems       64198 non-null int64
Current_Credit_Balance          64198 non-null int64
Maximum_Open_Credit             64198 non-null int64
Bankruptcies                    64068 non-null float64
Tax_Liens                       64192 non-null float64
Term_Short Term                 64198 non-null uint8
Purpose_buy a car               64198 non-null uint8
Purpose_buy house               64198 non-null uint8
Purpose_debt consolidation      64198 non-null uint8
Purpose_educational expenses    64198 non-null uint8
Purpose_home improvements       64198 non-null uint8
Purpose_major_purchase          64198 non-null uint8
Purpose_medical bills           64198 non-null uint8
Purpose_moving                  64198 non-null uint8
Purpose_other                   64198 non-null uint8
Purpose_renewable_energy        64198 non-null uint8
Purpose_small_business          64198 non-null uint8
Purpose_take a trip             64198 non-null uint8
Purpose_vacation                64198 non-null uint8
Purpose_wedding                 64198 non-null uint8
job_years                       64198 non-null float64
Home_Ownership_Home Mortgage    64198 non-null uint8
Home_Ownership_Own Home         64198 non-null uint8
Home_Ownership_Rent             64198 non-null uint8
Loan_Status_Fully Paid          64198 non-null uint8
dtypes: float64(8), int64(6), uint8(19)
memory usage: 8.5 MB

In [122]:
df.drop(columns=['Years_in_current_job_numbers'], inplace=True)

In [120]:
df.drop(columns=['Years_in_current_job_num', 'Years_in_current_job'], inplace=True)

In [132]:
scaled_df = pd.DataFrame(StandardScaler().fit_transform(df),
                        columns = df.columns)

In [133]:
X_train, X_test, y_train, y_test = train_test_split(scaled_df.drop(columns = ['Id', 'Loan_Status_Fully Paid']),
                                                    scaled_df['Loan_Status_Fully Paid'],
                                                    test_size = .2,
                                                    random_state = 42)

In [134]:
import numpy as np
np.random.seed(42)

In [135]:
linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)

knn_reg = KNeighborsRegressor()
knn_reg.fit(X_train, y_train)

cart_reg = DecisionTreeRegressor()
cart_reg.fit(X_train, y_train)

bagged_reg = BaggingRegressor()
bagged_reg.fit(X_train, y_train)

random_forest_reg = RandomForestRegressor()
random_forest_reg.fit(X_train, y_train)

adaboost_reg = AdaBoostRegressor()
adaboost_reg.fit(X_train, y_train)

support_vector_reg = SVR()
support_vector_reg.fit(X_train, y_train)

/Users/rviana/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/rviana/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [136]:
from sklearn.metrics import mean_squared_error

In [137]:
def rmse_score(model, X_train, X_test, y_train, y_test):
    mse_train = mean_squared_error(y_true = y_train,
                                  y_pred = model.predict(X_train))
    mse_test = mean_squared_error(y_true = y_test,
                                  y_pred = model.predict(X_test))
    rmse_train = mse_train ** 0.5
    rmse_test = mse_test ** 0.5
    
    print("The training RMSE for " + str(model) + " is: " + str(rmse_train))
    print("The testing RMSE for " + str(model) + " is: " + str(rmse_test))
    return (rmse_train, rmse_test)

In [138]:
rmse_score(linear_reg, X_train, X_test, y_train, y_test)

The training RMSE for LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False) is: 0.8893905629211045
The testing RMSE for LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False) is: 0.8942243155569284

(0.8893905629211045, 0.8942243155569284)

In [139]:
rmse_score(knn_reg, X_train, X_test, y_train, y_test)

The training RMSE for KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform') is: 0.78457212266965
The testing RMSE for KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform') is: 0.9679060810509114

(0.78457212266965, 0.9679060810509114)

In [140]:
rmse_score(cart_reg, X_train, X_test, y_train, y_test)

The training RMSE for DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best') is: 2.3073603433231287e-14
The testing RMSE for DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best') is: 1.2067963244840145

(2.3073603433231287e-14, 1.2067963244840145)

In [141]:
rmse_score(bagged_reg, X_train, X_test, y_train, y_test)

The training RMSE for BaggingRegressor(base_estimator=None, bootstrap=True, bootstrap_features=False,
                 max_features=1.0, max_samples=1.0, n_estimators=10,
                 n_jobs=None, oob_score=False, random_state=None, verbose=0,
                 warm_start=False) is: 0.3847517057488736
The testing RMSE for BaggingRegressor(base_estimator=None, bootstrap=True, bootstrap_features=False,
                 max_features=1.0, max_samples=1.0, n_estimators=10,
                 n_jobs=None, oob_score=False, random_state=None, verbose=0,
                 warm_start=False) is: 0.9163919504395946

(0.3847517057488736, 0.9163919504395946)

In [142]:
rmse_score(random_forest_reg, X_train, X_test, y_train, y_test)

The training RMSE for RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False) is: 0.38519477028547916
The testing RMSE for RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False) is: 0.921942848339845

(0.38519477028547916, 0.921942848339845)

In [143]:
rmse_score(adaboost_reg, X_train, X_test, y_train, y_test)

The training RMSE for AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
                  n_estimators=50, random_state=None) is: 0.8950022728917856
The testing RMSE for AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
                  n_estimators=50, random_state=None) is: 0.900421321067762

(0.8950022728917856, 0.900421321067762)

In [144]:
rmse_score(support_vector_reg, X_train, X_test, y_train, y_test)

The training RMSE for SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False) is: 0.9686918575139372
The testing RMSE for SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False) is: 0.9803142667428234

(0.9686918575139372, 0.9803142667428234)